<div class="product-list-page">
    <header>
        <h1>List of product</h1><!--<pre>{{hospitalForm | json}}</pre>-->
    </header>
    <section>
        <table class="table-bordered table-condensed">
            <tbody>
<tr><td colspan="6">
    <input type="button" value="Add"  ng-click="addnewproduct()" ng-show="addvisible">
    <form name="addprouct" ng-show="formisible" ng-submit="save()">
<table>
    <tr><td>Category</td><td><select name="category" ng-model="newproduct.Category"><option selected="true">Select One</option></select></td></tr>
    <tr><td>Product Name</td><td><input type="text" ng-model="newproduct.productName"></td></tr>
    <tr><td>Product Description</td><td><input type="text" ng-model="newproduct.prodeuctDescription"></td></tr>
    <tr><td>Price</td><td><input type="text" ng-model="newproduct.price"></td></tr>
    <tr><td colspan="2"><input type="submit" value="Save"><input type="button" value="Cancel" ng-click="clear()"></td></tr>

</table>

    </form>
</td></tr>

            <tr>
                <th>Name</th>

                <th>Description</th>
                <th>price</th>
                <th>category</th>
                <th>Delete</th>

            </tr>
            </tbody>
            <tbody>            <tr ng-repeat="product in products | orderBy: 'name'">


                <td class="name">{{product.productName}}</td>
                <td class="discription">{{product.prodeuctDescription}}</td>
                <td class="Price">{{product.price}}</td>
                <td class="Category">{{product.category.name}}</td>
                <td><input type="button" ng-click="edit(product)" value="Edit"></td>
                <td><input type="button" ng-click="delete(product)" value="Delete"></td>

            </tr>

            </td>


            </tr>
            </tbody>
        </table>
    </section>
</div>